<p id="notice"><%= notice %></p>

<p>
  <strong>Supervisor name:</strong>
  <%= @outcome.supervisor_name %>
</p>

<p>
  <strong>Supervisor email address:</strong>
  <%= @outcome.supervisor_email_address %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @outcome.job_title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @outcome.department %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @outcome.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @outcome.end_date %>
</p>

<p>
  <strong>Currently active:</strong>
  <%= @outcome.currently_active %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @outcome.salary %>
</p>

<p>
  <strong>Pay period:</strong>
  <%= @outcome.pay_period %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outcome.description %>
</p>

<p>
  <strong>Employer name:</strong>
  <%= @outcome.employer_name %>
</p>

<p>
  <strong>Employer phone:</strong>
  <%= @outcome.employer_phone %>
</p>

<p>
  <strong>Employer email address:</strong>
  <%= @outcome.employer_email_address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @outcome.status %>
</p>

<p>
  <strong>Offer date:</strong>
  <%= @outcome.offer_date %>
</p>

<p>
  <strong>Acceptance date:</strong>
  <%= @outcome.acceptance_date %>
</p>

<p>
  <strong>Offer accepted:</strong>
  <%= @outcome.offer_accepted %>
</p>

<p>
  <strong>Job type name:</strong>
  <%= @outcome.job_type_name %>
</p>

<p>
  <strong>Employment type name:</strong>
  <%= @outcome.employment_type_name %>
</p>

<p>
  <strong>Industry name:</strong>
  <%= @outcome.industry_name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @outcome.student %>
</p>

<p>
  <strong>Location:</strong>
  <%= @outcome.location %>
</p>

<%= link_to 'Edit', edit_outcome_path(@outcome) %> |
<%= link_to 'Back', outcomes_path %>
